{% extends "base_panel.html"%}

{% block content%}


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Módulo 4. Implementación de habilidades para la vida en el salón de clases</h3></div>
       <p><b>Modalidad:</b> En línea.</p>
  <div class="panel-body">
<p><b>Duración:</b> 40 horas (año escolar 2015-2016)</p>
<p><b>Propósito:</b> Que el profesor aplique y evalúe estrategia didácticas que desarrollan habilidades
para la vida en sus estudiantes dentro del salón de clases.</p>
  </div>

  <ul class="list-group">
    <li class="list-group-item">1. Registro de participantes: Del 31 de agosto al 6 de septiembre de 2015 para registrarte <a href="{% url 'modulo_cuatro:registro'%}">haz click aquí.</a></li>
    <li class="list-group-item">2. Subir a la red (www.habilidadesparaadolescentes.com) el proyecto de trabajo del 7 al 20 de septiembre de 2015. <a href="{% url 'modulo_cuatro:segunda_etapa'%}">Haz click aquí.</a></li>
    <li class="list-group-item">3. Retroalimentaci&oacute;n  por parte de los asesores (en l&iacute;nea). <a href="{% url 'modulo_cuatro:foro' %}">Para resolver dudas o dejar tus comentarios participa en el Foro de Discusión. <em>[Haz clic aquí]</em></a></li>
    <li class="list-group-item">4. Implementaci&oacute;n  del proyecto de trabajo en el sal&oacute;n de clase a partir del mes
de octubre de 2015, hasta el mes de marzo de 2016. Durante este periodo se abrir&aacute; un foro de discusi&oacute;n en línea (www.habilidadesparaadolescentes.com). El  profesor deber&aacute; acceder al foro por lo menos una vez cada quince d&iacute;as para  ingresar sus comentarios y dudas&nbsp; sobre  el desarrollo de su proyecto de trabajo. En esta etapa todos (profesores y  asesores) podr&aacute;n hacer comentarios con respecto al trabajo de sus compa&ntilde;eros y  resolver dudas.</li>
    <li class="list-group-item">5. Subir a la red (www.habilidadesparaadolescentes.com) el trabajo final con los resultados obtenidos en la fase de implementaci&oacute;n del 29 de abril al 13 de mayo de 2016. <a href="{% url 'modulo_cuatro:proyecto_final'%}">Haz click aquí.</a></li>
    <li class="list-group-item">6. Del 16 al 30 de mayo de 2016, retroalimentación y evaluación final en línea (www.habilidadesparaadolescentes.com) por parte de los asesores.</li>
  </ul>

</div>

{% endblock%}