<!DOCTYPE html>
<html>
<head>
  <title>Asunto: Confirmación de registro al Módulo 4 - Diplomado DHV en el salón de clases 4ta. Gen</title>
<meta charset="UTF-8">  
</head>

<body>

		<p>
		Tu registro al:<br>
		<b>{{nombre_completo}}</b><br>
		<b>Folio: {{folio}}</b>
		</p>
		
		<p>
		Tu registro al:<br>
<b>Módulo 4 del Diplomado "Desarrollo de habilidades para la vida en el salón de clases" - 4ta. Generación</b>
se ha completado con éxito.
		</p>

		<p>
			Paso siguiente: En Línea - subir a la red (diplomado.habilidadesparaadolescentes.com en la pestaña -> Iniciar sesión), el proyecto de trabajo del 9 al 18 de septiembre de 2017 
		</p>
		<p>
			Institución responsable:    Facultad de Psicología, UNAM en convenio con el Plantel 8 “Miguel E. Schulz” ENP, UNAM
		</p>

		<p>
			Atentamente<br>
			La coordinación
		</p>
		
		
		
		

</body>
</html>