<!DOCTYPE html>
<html>
<head>
  <title>IV Coloquio de Atención Plena: teoría y aplicaciones</title>
<meta charset="UTF-8">  
</head>

<body>
			
		<p><b>{{nombre_completo}}</b></p>
		<p><b>Folio: {{folio}}</b></p>
		<p>Tu registro al:</p>
		
		<p>
			<b>Módulo 4 del Diplomado “Desarrollo de habilidades para la vida en el salón de clases” - 4ª Generación
			</b>
			se ha completado con éxito.
		</p>

		<p>
			Paso siguiente: En Línea - subir a la red (diplomado.habilidadesparaadolescentes.com en la pestaña -> Iniciar sesión), el proyecto de trabajo del 9 al 18 de septiembre de 2017 
		</p>
		<p>
			Institución responsable:    Facultad de Psicología, UNAM en convenio con el Plantel 8 “Miguel E. Schulz” ENP, UNAM

		</p>
		<p>
		Atentamente<br>
		La coordinación
		</p>
			

</body>
</html>