{% extends "base_panel.html"%}
{% block content%}

<form action="{% url 'modulo_cuatro:update_user'%}" method="POST">
    {% csrf_token %}
    <h2>
        <strong>
       
        {{ form.errors }}    
        </strong> 
    </h2>
        

    <div class="form-group">
     		 <label>Nombre</label>             		
              {{form.nombre}}
              
	</div>
    <div class="form-group">
     		 <label>Apellido Paterno</label>             		
              {{form.apellido_paterno}}
	</div>
    <div class="form-group">
     		 <label>Apellido Materno</label>             		
              {{form.apellido_materno}}
	</div>
    <div class="form-group">
     		 <label>Telefono</label>             		
              {{form.telefono}}
	</div>

    <div class="form-group">
     		             		
           <input type="hidden" name="etapa_numero" value="1">
	</div>
    <div class="form-group">
	
		<input class="btn btn-success" type="submit" name="submit" value="Guardar">
	</div>
</form>

{% endblock%}